
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headimagen {
  position: relative;
  background-color: #000;
  background-image: url(../img/gymbg.jpg);
  background-size: cover;
  background-position: center;
  height: 550px;  
  opacity: 0.9;
  z-index: -1;
  box-shadow: 0 20px 20px rgb(0, 0, 0);
}
.headimagen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
  z-index: 1; /* Asegúrate de que esté por encima de la imagen */
}
/* .headimagen {
  background-image: url('https://source.unsplash.com/1600x900/?gym');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Leyenda {
  font-family: 'Sofia', sans-serif;
  font-size: 2rem;
} */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.texto-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.Leyenda {
  font-family: 'Sofia', cursive;
  font-size: 3rem;
}
